<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>

<!-- <app-task *ngFor="let task of todo" [task]="task"></app-task> -->

<div class="content-wrapper">
  <button (click)="newTask()" mat-button>
    
    <mat-icon>add</mat-icon> Add Task
  </button>

  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>

      <mat-card 
      cdkDropList 
      id="todo" 
      #todoList="cdkDropList" 
      [cdkDropListData]="todo | async"
      [cdkDropListConnectedTo]="[doneList, inProgressList]" 
      (cdkDropListDropped)="drop($event)" 
      class="list">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>

      <mat-card 
      cdkDropList 
      id="inProgress" 
      #inProgressList="cdkDropList" 
      [cdkDropListData]="inProgress | async"
      [cdkDropListConnectedTo]="[todoList, doneList]" 
      (cdkDropListDropped)="drop($event)" 
      class="list">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task">
        </app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card 
      cdkDropList 
      id="done" 
      #doneList="cdkDropList" 
      [cdkDropListData]="done | async"
      [cdkDropListConnectedTo]="[todoList, inProgressList]" 
      (cdkDropListDropped)="drop($event)" 
      class="list">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>
  </div> <!-- wrapper inferior -->
</div> <!-- wrapper superior-->